<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.quantumsoft.koreasurvey.SurveyExcludeMapper">
	<insert id="insertSurveyExclude" parameterType="kr.quantumsoft.koreasurvey.model.SurveyExclude"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `survey_exclude` (
			`excludetype`,
			`excludevalue`,
			`created`,
			`surveyid`
		) VALUES (
			#{excludeType},
			#{excludeValue},
			#{created},
			#{surveyId}
		);
	</insert>
	<select id="getSurveyExcludeListBySurveyId" parameterType="Integer" resultType="kr.quantumsoft.koreasurvey.model.SurveyExclude">
		SELECT * FROM survey_exclude
		WHERE surveyid = #{surveyid}
	</select>
	<delete id="deleteExcludeBySurveyId" parameterType="Integer">
		DELETE FROM survey_exclude
		WHERE surveyid= #{surveyid}
	</delete>
</mapper>