<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.quantumsoft.koreasurvey.OptionsMapper">
<insert id="insertOptions" parameterType="kr.quantumsoft.koreasurvey.model.Options"
	useGeneratedKeys="true" keyProperty="id">
	INSERT INTO `options` (
		`questionid`,
		`option`,
		`type`
	) VALUES (
		#{questionid},
		#{option},
		#{type}
	)
</insert>
<update id="updateOptions" parameterType="kr.quantumsoft.koreasurvey.model.Options">
	UPDATE `options`
	SET
		`option` = #{option},
		`type` = #{type}
	WHERE `id` = #{id}
</update>
<select id="selectOptionsByQuestionId" parameterType="Integer"
	resultType="kr.quantumsoft.koreasurvey.model.Options">
	SELECT *
	FROM `options`
	WHERE `questionid` = #{id}
</select>
<select id="selectOptionsById" parameterType="Integer"
	resultType="kr.quantumsoft.koreasurvey.model.Options">
	SELECT * FROM `options` WHERE `id` = #{id}
</select>
<delete id="deleteOptionsByQuestionId" parameterType="Integer">
	DELETE FROM `options` WHERE `questionid` = #{id}
</delete>
</mapper>